body {
    background-color: #484d5c;
    color: #c0ccd4;
    font-family: 'Crimson Text', serif;
}

.btn-sm {
    padding-left: 12px;
    padding-right: 12px;
}

#title, h6 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #ffce00;
    text-align: center;
}


.container-fluid {
    margin-top: 10px;
}

.form-container {
    margin-top: 20px;
    float: right;
    width: 300px;
    margin-left: 10px;

}

.gif-block {
    margin-top: 20px;
    margin-left: 10px;
    display: inline-block;
}

.gifs-here {
    width: 70%;
    padding-right: 10px;
}
.img-responsive {
    max-width: 275px;
    height: 175px;
}
